
/* Add font files for Oxanium */
@font-face {
  font-family: OxaniumFont;
  src: url(assets/main_assets/Oxanium-Bold.ttf)
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flight {
  font-family: OxaniumFont;
  position: absolute;
  left: -20px;
  top: 10px;
  width: 300px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.count {
  font-family: OxaniumFont;
  position: absolute;
  left: 39px;
  top: 40px;
  width: 180px;
  height: 40px;
  font-size: 30px;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: rgba(0, 0, 0, 1);
  background: transparent;
  border: transparent;
}

.reset1 {
  position: absolute;
  bottom: 1px;
  font-size: 300px;
  color: transparent;
  border: transparent;
  background: transparent;
}

.reset2 {
  position: absolute;
  right: 1px;
  bottom: 1px;
  font-size: 300px;
  color: transparent;
  border: transparent;
  background: transparent;
}

.reset3 {
  position: absolute;
  left: 730px;
  bottom: 1px;
  font-size: 200px;
  color: transparent;
  border: transparent;
  background: transparent;
}

.blur {
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.blur {
  animation: fadein 4s linear forwards;
  animation: fadeout 4s linear forwards;
}

@keyframes fadein {
  0% { opacity:0; }
  100% { opacity:1; } 
 }

 @keyframes fadeout {
  0% { opacity:0; }
  100% { opacity:1; } 
 }