
/* Add font files for Oxanium */
@font-face {
  font-family: 'Oxanium';
  src: url('fonts/oxanium.woff2') format('woff2'),
       url('fonts/oxanium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-oxanium: 'Oxanium', sans-serif;
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flight {
  position: absolute;
  left: 5px;
  top: 10px;
  width: 300px;
  height: 40px;
  font-size: 24px;
  font-family: var(--font-family-oxanium);
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.count {
  position: absolute;
  left: 62px;
  top: 50px;
  width: 180px;
  height: 40px;
  font-size: 48px;
  font-family: var(--font-family-oxanium);
  font-weight: bold;
  line-height: 40px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  background: transparent;
  border: transparent;
}
